CRM_MVP/node_modules
LTV_OpenSource/.ipynb_checkpoints
LTV_OpenSource/OnlineRetail.xlsx
LTV_OpenSource/FinalDataset.csv
LTV_OpenSource/FinalDataset_2.csv
LTV_OpenSource/CustomerId-Names_Mapping.csv
LTV_OpenSource/CustomerId-Names_Mapping_2.csv
LTV_OpenSource/DataSet_Mapping.ipynb
LTV_OpenSource/cutomerIds.csv
Data
